* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .layar-dalam {
    width: 1100px;
    margin: auto;
  }
  .layar-penuh {
    width: 100%;
    margin: auto;
  }
  nav {
    width: 100%;
    display: flex;
    line-height: 70px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #C88EA7;
  }
  nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
  }
  nav .logo img {
    vertical-align: middle;
    width: 120px;
  }
  
  nav .menu {
    float: right;
    height: 60px;
    max-width: 1000px;
  }
  
  nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
  }
  
  nav ul li a {
    color:  #562b3b;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* pengaturan header */
  header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 40%;
  }
  header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
  .tombol {
    background-color: #c86b85;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #C88EA7;
    z-index: -1;
  }
  .tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .tombol-menu .garis {
    height: 3px;
    background-color: #fff;
  }
  section {
    padding: 20px 0px 0px 0px;
  }
  section h3 {
    font-size: 30px;
  }
  section h3::after {
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
  }
  #aboutus,
  #team,
  #blog {
    text-align: center;
  }
  section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #ababab;
  }
  section .konten-isi p {
    font-style: normal;
  }
  nav.putih {
    background-color: #fff;
  }
  nav.putih .tombol-menu .garis {
    background-color: #333;
  }
  nav.putih ul li a {
    color: #333;
  }
  nav .logo img.hitam {
    display: none;
  }
  section.abuabu {
    background-color: #f5f6f6;
  }
  .tim {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .support {
    margin: auto;
    justify-content: center;
  }

  .support h6,
  .tim h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
  }

h6 a {
    text-decoration : none;
    font-size: 18px;
    font-weight: bold;
    color : black;
} 
  .support img {
    width: 50px;
  }
  .support div,
  .tim div {
    text-align: center;
    width: 26%;
  }
  section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 50px 0px 10px 0px;
  }
  section#gallery div {
    padding: 5px;
  }
  section#gallery div img {
    height: 100px;
    width: 150px;
    border-radius: 5px;
  }
  section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
  section.quote {
    background: url("asset/background-bromo.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
  }
  section.quote .layar-dalam p {
    display: inline;
    background: url("asset/quote-icon.png") no-repeat;
    padding: 40px;
  }

  .about {
    display: flex; 
    flex-direction: row;
  }

  .about2{
    width: 50%; margin: 0 auto;
  }

  .tim img {
    width: 80%;
    height: 60%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 50%;
  }
  .blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .blog .area {
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    width: 46%;
    justify-content: space-between;
  }

  .area {
    background: white;
    border-color: rgb(163, 163, 163);
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem ;
    border: rgba(53, 53, 53, 0.409) 1px solid;
    justify-content: center;
  }

  .blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .blog .area .text article {
    padding: 40px;
  }
  .blog .area .text article h4 {
    margin: 0px;
  }
  .blog .area .text article a {
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  .blog .area .text article a:hover {
    font-weight: bold;
  }

  button {
    background-color: rgb(252, 250, 251); 
    padding: 10px;
    border-radius: 20px; 
    border: rgba(53, 53, 53, 0.409) 1px solid;
  }
  
  button a { 
    text-decoration: none;
    font-size: 15px;
  }

  footer {
    padding: 20px 0px 20px 0px;
    background-color: #643843;
    color: #fff;
    text-align: justify ;
  }

  footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .layar-dalam div {
    width: 25%;
  }
  footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
  }
  @media screen and (max-width: 991.98px) {
    .layar-dalam {
      width: 90%;
    }
    
    nav .menu ul {
      display: none;
      margin-top: 60px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    nav .menu ul li {
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      line-height: 40px;
    }
    nav .menu ul li a {
      color: #333;
    }
    .tombol-menu {
      display: flex;
    }

    .tim img {
      width: 75%;
      height: 50%;
      box-shadow: 0px -10px 30px #ccc;
    }

    iframe {
      width: 100%;
    }
    .blog .area {
      display: block;
      width: 100%;
    }
    .blog div.area div {
      width: 100%;
    }
    .blog .area .gambar {
      border-radius: 5px 5px 0px 0px;
      height: 200px;
    }
    .support .tim{
      display: block;
    }
    .support div {
      width: 100%;
      padding-bottom: 30px;
    }

    .about{
      display: block;
      margin: auto;
    }

    .about2{
      width: 90%;
    }
  }